* {
    /* #This is a bsic CSS reset format in order to be able to implement */
    /* your page on multiple different browsers */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;

}

html {
    background-color: #F0C7AE;

}

table {
    margin: auto;
    border: 1px solid;
}

body {
    margin: 0;
    padding: 0;
    /* background-color: #D89E76; */
}



main {
    padding: 16px;
}


footer {
    padding: 24px 0px;

}


img {
    height: 200px;
}


nav {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: #D89E76;
}

ol {
    margin-left: center;
    list-style-position: inside;
    display: inline-grid;

}

.checked{
    color: green;
}

div{
    margin-bottom: 5%;
    margin-top: 2%;
}
.container {
    position: relative;
    margin: 5px;
    block-size: 200px center; */
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}